.navbar {
    background: #0074AC;
    border-radius: 15px;
    padding: 10px;
    margin-top:10px;
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    justify-content: center;
}

.nav-menu {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 0;
    color: white;
}
